@import url("minireset.css");

:root {
  --gap-small: 8px;
  --gap-medium: 16px;
  --gap-big: 24px;
  --gap-bigger: 32px;
  --gap-massive: 48px;

  --border-radius-small: 3px;
  --border-radius-medium: 6px;
  --border-radius-large: 12px;

  --font-family-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --font-famil-serif: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-big: 1.4rem;
  --font-size-bigger: 2rem;
  --font-size-massive: 2.8rem;

  --line-height: 1.4rem;

  --colours-grey-lighter: hsl(0, 0%, 95%);
  --colours-grey-light: hsl(0, 0%, 70%);
  --colours-grey: hsl(0, 0%, 50%);
  --colours-grey-dark: hsl(0, 0%, 20%);
  --colours-grey-darker: hsl(0, 0%, 10%);

  --colour-main-theme-lightest: hsl(304, 100%, 97%);
  --colour-main-theme-lighter: hsl(305, 89%, 82%);
  --colour-main-theme: hsl(305, 100%, 42%);
  --colour-main-theme-darker: hsl(305, 42%, 18%);
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-family-sans, sans-serif);
  display: grid;
  grid-template-rows: min-content min-content auto;
  grid-template-columns: auto minmax(auto, 900px) auto;
  grid-column-gap: var(--gap-medium, 0);
}

/* [ Layout ]
--------------------------------------------------------------------------- */
header {
  grid-row: 1/2;
  grid-column: 2/3;
}

main {
  grid-row: 2/3;
  grid-column: 2/3;
}

footer {
  grid-row: 3/4;
  grid-column: 2/3;
}

/* [ Typography ]
--------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-famil-serif, serif);
  margin: var(--gap-medium, 0) 0;
}

h1 {
  font-size: var(--font-size-bigger, 1rem);
  font-weight: lighter;
}

p,
ol,
ul,
blockquote,
figure {
  line-height: var(--line-height, 1rem);
  margin: var(--gap-medium, 0) 0;
}

/* [ Colours ]
--------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5 p,
li {
  color: var(--colours-grey-dark, #f0f);
}

a:link,
a:active,
a:hover {
  color: var(--colour-main-theme, #f0f);
}

a:visited {
  color: var(--colour-main-theme-darker, #f0f);
}

/* [ Style ]
--------------------------------------------------------------------------- */
header {
  margin-top: var(--gap-bigger, 0);
}

footer {
  border-top: 1px solid var(--colours-grey-light, #f0f);
}

code {
  background: var(--colour-main-theme-lightest, #f0f);
  padding: 2px 6px;
  color: var(--colour-main-theme-darker, #f0f);
  border-radius: var(--border-radius-small);
}

img {
  max-width: 100%;
  padding: var(--gap-medium, 0);
  background-color: var(--colours-grey-lighter, #f0f);
  border-radius: var(--border-radius-medium);
}

figcaption {
  text-align: center;
  font-size: var(--font-size-small);
  font-family: var(--font-family-sans);
  margin: var(--gap-medium, 0) 0;
}
